
<div class="container mt-5 pt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-7 col-md-4 mx-auto">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-center">
            <h1>Login</h1>
          </div>

          <form [formGroup]="loginForm">

            <p class="text-danger">{{ loginError }}</p>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                formControlName="username"
                id="email"
                class="form-control"
                placeholder="email"
              />

              <!-- si el campo email es invalido y ha sido tocado o modificado entonces mostrar el mensaje de error -->
              <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger"
              >
                <div *ngIf="email.errors?.['required']">
                  El Email es requerido.
                </div>
                <div *ngIf="email.errors?.['email']">
                  El Email debe tener un formato válido.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                formControlName="password"
                id="password"
                class="form-control"
                placeholder="Password"
              />

              <!-- si el campo password es invalido y ha sido tocado o modificado entonces mostrar el mensaje de error -->
              <div
                *ngIf="password.invalid && (password.dirty || password.touched)"
                class="text-danger"
              >
                <div *ngIf="password.errors?.['required']">
                  El Password es requerido.
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button
                type="submit"
                (click)="login()"
                class="btn btn-primary w-100 px-4 py-2"
              >
                Iniciar Sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
