<app-nav></app-nav>
<div class="d-flex justify-content-center my-4">
  <div class="card w-50">
    <img [src]="noticia.imagen" class="card-img-top" alt="{{ noticia.titulo }}">
    <div class="card-body">
      <h5 class="card-title">{{ noticia.titulo }}</h5>
      <p class="card-text">{{ noticia.descripcion }}</p>
      <p class="card-text">{{noticia.fechaPublicaciones}}</p>
      <button class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
  </div>
</div>

<div class="container mb-2">
  <h2 class="text-center">Noticias Recomendadas</h2>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="card m-2" style="width: 18rem; cursor: pointer;" *ngFor="let noticiaRecomendada of noticiasRecomendadas" (click)="noticiaRecomendada.id !== undefined && obtenerNoticia(noticiaRecomendada.id)">
      <img [src]="noticiaRecomendada.imagen" class="card-img-top" alt="{{ noticiaRecomendada.titulo }}">
      <div class="card-body">
        <h5 class="card-title">{{ noticiaRecomendada.titulo }}</h5>
        <p class="card-text">{{ noticiaRecomendada.descripcion }}</p>
      </div>
    </div>
  </div>
</div>

